@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-font-color: #FFF;
    --background-color: #18212D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-color: #FFF;
        --background-color: #18212D;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--main-font-color);
    background: var(--background-color);
}
